* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1088px;
}


body{
    font-family: 'Nunito Sans', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;

}

.page-header .container{

    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.page-logo {
    font: normal normal bold 35px/47px Nunito Sans;
    text-transform: uppercase;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
}

.page-logo strong{
    color: #FF0000;
}

.page-nav-list{
    display: flex;
    font: normal normal bold 16px/22px Nunito Sans;
}

.page-nav-list li{
    margin-left: 20px ;
}

.page-nav-list a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.banner{
    background: url("../images/Image.jpg");
    height: calc(100vh - 27px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.banner::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);

}

.banner-title{
    color: white;
    font: normal normal 900 90px/90px Nunito Sans;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    display: flex;
}

.banner-text{
    color: white;
    font: normal normal bold 16px/22px Nunito Sans;
    width: 1046px;
    height: 44px;
    text-align: center;
}

.btn{

    border-style: none;
    cursor: pointer;
    padding: 20px 50px 20px 50px;

}

.btn--primary{
    top: 485px;
    left: 451px;
    width: 220px;
    height: 66px;
    color: white;
    text-transform: uppercase;
    font: normal normal bold 16px/22px Nunito Sans;
    background: #FF0000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    opacity: 1;


}

.btn--secondary{
    top: 485px;
    left: 696px;
    width: 226px;
    height: 66px;
    color: #FF0000;
    text-transform: uppercase;
    font: normal normal bold 16px/22px Nunito Sans;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 40px;
    opacity: 1;

}

.banner a{
    bottom: -27px ;
    width: 55px;
    height: 55px;
    position: absolute;
    background: #FF0000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FF00004D;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content .container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: uppercase;

}

.article{
    top: 981px;
    left: 875px;
    width: 352px;
    height: 500px;
    text-align: justify;
    max-width: 400px;
}

.article img{
    width: 352px;
    height: auto;
}

h2{
    text-align: left;
    font: normal normal normal 19px/26px Nunito Sans;
    letter-spacing: 0px;
    color: #6A6A6A;
    opacity: 1;
    text-transform: uppercase;
    padding-top:10px;
    padding-bottom:20px;

}

article p {
    text-align: left;
    font: normal normal 300 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #6A6A6A;
    opacity: 1;

}

.button{
    background: #FF0000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    padding: 15px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font: normal normal bold 14px/19px Nunito Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.service{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 50px;
    background: #28272C;
}

.service-content{
    height: 643px;
    width: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.service img{
    width: 170px;
    height: 170px;
}

.service-title{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.service-article{
    display: inline-block;
    text-align: center;
}

.service-article h2{
    text-align: center;
    font: normal normal normal 19px/26px Nunito Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.service-article p{
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #B2B2B2;
    opacity: 1;
}

form{
    width: 50%;
    padding: 8px;
    color: #05A081;
    font-family: Helvetica, Arial, sans-serif;
}
input[type=name],
textarea{
    width: 100%;
    height: 38px;
    margin-bottom: 20px;
    text-align: left;
    font-family: Nunito Sans;
    color: black;
    border-radius: 8px;
    border: 1px solid rgba(209, 209, 209, 1);


}

input[type=message],
textarea{
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    text-align: left;
    font-family: Nunito Sans;
    color: black;
    border-radius: 8px;
    border: 1px solid rgba(209, 209, 209, 1);


}

label{
    display: inline-block;
    position: relative;
    padding-left: 32px;
    text-align: left;
    font: 10px Open Sans;
    color: rgba(178, 178, 178, 1);
}
input[type=checkbox]{
    display: none;


}
input::placeholder{
    padding-left: 12px;
    text-align: left;
    font: normal normal normal 16px/22px Nunito Sans;
    letter-spacing: 0px;
    color: rgba(178, 178, 178, 1);
    opacity: 1;
}
textarea::placeholder {
    text-align: left;
    padding-left: 12px;
    font: normal normal normal 16px/22px Nunito Sans;
    letter-spacing: 0px;
    color: rgba(178, 178, 178, 1);
    opacity: 1;
}


form.message button{
    text-align: right;
    margin-top: 20px;
    padding: 10px 52px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 6px rgba(255, 0, 0, 0.3);
    border: 1px solid rgba(255, 0, 0, 1);
    border-radius: 40px;
    color: rgba(255, 0, 0, 1);

}
label span{
    content: "";
    display: block;
    left: 0;
    top: 4px;
    position: absolute;
    height: 22px;
    width: 22px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 8px;
    opacity: 1;

}
label input:checked+span{
    background: url("../images/Icon_Check.svg") no-repeat center/70%;
}

